# ====== JAVA ======
*.class
*.jar
*.war
*.ear

# Diretórios de build
/bin/
/build/
/target/
/out/

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.bak
*.DS_Store
*.iml

# ====== MAVEN ======
.mvn/
!**/src/main/**/mvn/**

# ====== GRADLE ======
.gradle/
build/

# ====== ECLIPSE ======
.classpath
.project
.settings/
.loadpath

# ====== INTELLIJ IDEA ======
.idea/
*.iws
*.iml
*.ipr
out/

# ====== NETBEANS ======
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ====== VISUAL STUDIO CODE ======
.vscode/

# ====== SISTEMA OPERACIONAL ======
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*~
